.dropdown {
  position: relative;
  width: 200px;
  font-size: 13px;
}

.dropdown-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  background: var(--clr-white);
  cursor: pointer;
  user-select: none;
}

.dropdown-select:hover {
  border-color: var(--clr-primary-500);
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  border-radius: 4px;
  background: var(--clr-white);
  box-shadow: var(--shadow-base);
  z-index: 10;
}

.dropdown.open .dropdown-list {
  display: block;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: var(--clr-grey-200);
}
