.header {
    height: 96px;
    padding: 0 32px;
    background: var(--clr-bg-secondary);
    border-bottom: 1px solid var(--clr-grey-200);

    display: flex;
    align-items: center;
}

.header__actions {
    margin-inline-start: auto;
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__menu {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.header__logo {
    flex-shrink: 0;
    width: 268px;
    height: 100%;
    align-content: center;
    margin-inline-end: 32px;
    border-inline-end: 1px solid var(--clr-grey-200);
}
