.header {
  height: 96px;
  padding: 0 32px;
  background: var(--clr-bg-secondary);
  border-bottom: 1px solid var(--clr-grey-200);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}
