.btn-primary {
  background: var(--clr-primary-500);
  color: var(--clr-white);
  border-radius: 24px;
  padding: 12px 24px;
  font-weight: 700;
}

.btn-primary:hover {
  background: var(--clr-primary-300);
}

.btn-secondary {
  background: var(--clr-grey-100);
  color: var(--clr-primary-500);
  border-radius: 24px;
  padding: 12px 24px;
  font-weight: 700;
}

.btn-secondary:hover {
  background: var(--clr-grey-200);
}

.btn-destructive {
  background: var(--clr-red-500);
  color: var(--clr-white);
  border-radius: 24px;
  padding: 12px 24px;
  font-weight: 700;
}

.btn-destructive:hover {
  background: var(--clr-red-300);
}
